//- Tabs
mixin tabs(tabs, active, style, fade, pane_id_prefix)
    -
        tab_blocks = {}
        if(!style) style = 'pill'
        if(!fade) fade = false
        if(!pane_id_prefix) pane_id_prefix = ''
    block
    ul.nav(role='tablist', class=`nav-${style}s`)&attributes(attributes.ul)
        each value, index in tabs
            - prefix_index = pane_id_prefix + index
            li(class=index===active?'active':'')&attributes(attributes.li_attrs[index])
                a(href=`#${prefix_index}`, role='tab', data-toggle=style, aria-controls=prefix_index)= value
    .tab-content&attributes(attributes['tab-content'])
        each value, index in tabs
            - active_pane = index===active
            - prefix_index = pane_id_prefix + index
            .tab-pane(role='tabpanel', id=`${prefix_index}`, class={active:active_pane,fade:fade,in:fade&&active_pane})&attributes(attributes['tab-pane'])
                - tab_blocks[index]()
    - tab_blocks = {}

mixin tabs-fade(tabs, active, style, pane_id_prefix)
    +tabs(tabs, active, style, true, pane_id_prefix)&attributes(attributes)
        block

mixin tab(key)
    - tab_blocks[key] = this.block
